.cta.big,.cta.extra-small,.cta.medium,.cta.normal,.cta.small {
    font-size: .875rem;
    height: 3.25rem;
    padding: 1rem 1.5rem
}

.cta--primary {
    align-items: center;
    background-color: #007c9d;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--primary:hover {
    background-color: #fcd34d;
    color: #002d39
}

.cta--primary-with-icon {
    align-items: center;
    background-color: #007c9d;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--primary-with-icon:hover {
    background-color: #fcd34d;
    color: #002d39
}

.cta--primary-with-icon svg,.cta--primary-with-icon svg path {
    transition: .2s
}

.cta--primary-with-icon:hover svg path {
    fill: #002d39
}

.cta--secondary {
    align-items: center;
    background-color: #fcd34d;
    border: none;
    border-radius: 2.5rem;
    color: #002d39;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--secondary:hover {
    background-color: #002d39;
    color: #fff
}

.cta--secondary-with-icon {
    align-items: center;
    background-color: #fcd34d;
    border: none;
    border-radius: 2.5rem;
    color: #002d39;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--secondary-with-icon:hover {
    background-color: #002d39;
    color: #fff
}

.cta--secondary-with-icon svg,.cta--secondary-with-icon svg path {
    transition: .2s
}

.cta--secondary-with-icon:hover svg path {
    fill: #fff
}

.cta--secondary-with-call-icon {
    align-items: center;
    background-color: #fcd34d;
    border: none;
    border-radius: 2.5rem;
    color: #002d39;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--secondary-with-call-icon:hover {
    background-color: #002d39;
    color: #fff
}

.cta--secondary-with-call-icon svg,.cta--secondary-with-call-icon svg path {
    transition: .2s
}

.cta--secondary-with-call-icon:hover svg path {
    fill: #fff
}

.cta--tertiary {
    align-items: center;
    background-color: #002d39;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--tertiary:hover {
    background-color: #fcd34d;
    color: #002d39
}

.cta--tertiary-with-icon {
    align-items: center;
    background-color: #002d39;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--tertiary-with-icon:hover {
    background-color: #fcd34d;
    color: #002d39
}

.cta--tertiary-with-icon svg,.cta--tertiary-with-icon svg path {
    transition: .2s
}

.cta--tertiary-with-icon:hover svg path {
    fill: #002d39
}

.cta--bordered {
    border: .125rem solid #007c9d;
    border-radius: 2.5rem;
    color: #007c9d;
    line-height: 1.84
}

.cta--bordered,.cta--bordered-dark {
    align-items: center;
    background-color: transparent;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--bordered-dark {
    border-radius: 2.5rem;
    color: #000;
    line-height: 1.6875rem
}

.cta--bordered-dark:hover {
    background-color: #007c9d;
    border: .125rem solid #007c9d;
    color: #fff
}

.cta--bordered-secondary {
    align-items: center;
    background-color: transparent;
    border-radius: 2.5rem;
    color: #000;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--bordered-secondary:hover {
    background-color: #fcd34d;
    border: .125rem solid #fcd34d;
    color: #002d39
}

.cta--bordered-secondary {
    border: .125rem solid #002d39
}

.cta--bordered-with-icon-primary {
    align-items: center;
    background-color: transparent;
    border-radius: 2.5rem;
    color: #000;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--bordered-with-icon-primary:hover {
    background-color: #007c9d;
    border: .125rem solid #007c9d;
    color: #fff
}

.cta--bordered-with-icon-primary svg,.cta--bordered-with-icon-primary svg path {
    transition: .2s
}

.cta--bordered-with-icon-primary:hover svg path {
    fill: #fff
}

.cta--bordered-with-icon-primary-bordered {
    align-items: center;
    background-color: transparent;
    border: .125rem solid #002d39;
    border-radius: 2.5rem;
    color: #002d39;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    justify-content: space-between;
    line-height: 1.6875rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--bordered-with-icon-primary-bordered:hover {
    background-color: #007c9d;
    border: .125rem solid #007c9d;
    color: #fff
}

.cta--bordered-with-icon-primary-bordered svg,.cta--bordered-with-icon-primary-bordered svg path {
    transition: .2s
}

.cta--bordered-with-icon-primary-bordered:hover svg path {
    fill: #fff
}

.cta--bordered-with-arrow-icon,.cta--bordered-with-icon-down,.cta--bordered-with-icon-secondary,.cta--bordered-with-icon-tel {
    align-items: center;
    background-color: transparent;
    border-radius: 2.5rem;
    color: #000;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--bordered-with-arrow-icon:hover,.cta--bordered-with-icon-down:hover,.cta--bordered-with-icon-secondary:hover,.cta--bordered-with-icon-tel:hover {
    background-color: #fcd34d;
    border: .125rem solid #fcd34d;
    color: #000
}

.cta--bordered-with-arrow-icon svg,.cta--bordered-with-arrow-icon svg path,.cta--bordered-with-icon-down svg,.cta--bordered-with-icon-down svg path,.cta--bordered-with-icon-secondary svg,.cta--bordered-with-icon-secondary svg path,.cta--bordered-with-icon-tel svg,.cta--bordered-with-icon-tel svg path {
    transition: .2s
}

.cta--bordered-with-arrow-icon:hover svg path,.cta--bordered-with-icon-down:hover svg path,.cta--bordered-with-icon-secondary:hover svg path,.cta--bordered-with-icon-tel:hover svg path {
    fill: #002d39
}

.cta--bordered-with-arrow-icon,.cta--bordered-with-icon-down,.cta--bordered-with-icon-secondary,.cta--bordered-with-icon-tel {
    border: .125rem solid #002d39
}

.cta--bordered-icon-before {
    align-items: center;
    background-color: transparent;
    border-radius: 2.5rem;
    color: #002d39;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    cursor: pointer;
    display: flex;
    font-family: Figtree,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    height: 3.25rem;
    line-height: 1.5;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

.cta--bordered-icon-before span {
    order: 1
}

.link {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none
}

.link:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.cta--arrow-icon {
    align-items: center;
    background-color: #007c9d;
    border-radius: 50%;
    display: inline-flex;
    font-size: 0;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem
}

.cta--arrow-icon:hover {
    background-color: #002d39
}
